<div class="container d-flex justify-content-center">
    <div class="d-flex flex-column">
        <h2 class="text-center">Order Items</h2>
        <div *ngFor="let product of productList; " class="main d-flex m-2 justify-content-evenly p-3">
            <img [src]="product.imageUrl">
            <div class="w-25 d-flex flex-column justify-content-evenly">
                <span><strong>{{product.productName}}</strong></span>
                <span class="text-success font-bold"><strong><i class="bi bi-currency-rupee"></i>{{(product.price-(product.price*product.discount/100))*product.quantity}}</strong></span>
                <span>Quantity - {{product.quantity}}</span>
            </div>
        </div>
        <div class="d-flex justify-content-center total m-2">
            <span><strong> Total Value = {{totalValue}}</strong></span>
        </div>
    </div>
</div>
