table{
    border: 2px solid black;
}

th,td{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

th{
    background-color: rgb(54, 54, 54);
    color: whitesmoke;
}

td img{
    width: 8rem;
    height: 8rem;
}

#category{
    width: 75%;
    height: 2rem;
    border: 2px solid black;
}

#search-div{
    /* width: 90%; */
    border-radius: 2rem;
    /* text-align: center; */
    border: 2px solid black;
}

#search{
    width: 90%;
    border: none;
    outline: none;
}

tr{
    color: blueviolet;
}

button{
    width: 30%;
    border: none;
    background-color: rgb(54, 54, 54);
    color: white;
    height: 2.5rem;

}

tbody>tr:nth-child(2n) td{
    background-color: rgb(229, 223, 223);
   }

tr td{
    height: 10px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.cursor{
    cursor: pointer;
}

