.card{
    border: none;
    width: 30vw;
    padding: 2vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%,20%); 
    background-color: rgb(148, 147, 147);
    background: linear-gradient(to bottom,rgb(180, 177, 177),black);
}

div a{
    text-decoration: none;
}

#forget{
    text-align: end;
    cursor: pointer;
}

.modal-body input{
    width: 90%;
    outline: none;
    border: none;
}

.input-field{
    border-radius: 5px;
}